.mypy_cache/
.pytest_cache/
.ruff_cache/

build/
hookci.spec
Codigo/hookci

.coverage
coverage.xml

*.buildinfo*
*.changes*
*.deb*
DEBIAN/
**/debian/changelog
**/debian/debhelper-build-stamp
**/debian/files
**/debian/hookci
**/debian/.debhelper/
**/debian/*.substvars
**/usr/bin/
**/usr/share/

node_modules/
out/
*.vsix
