.hookci/

.mypy_cache/
.pytest_cache/

build/
hookci.spec
Codigo/hookci

*.buildinfo*
*.changes*
*.deb*
DEBIAN/
**/debian/changelog
**/debian/debhelper-build-stamp
**/debian/files
**/debian/.debhelper/
**/debian/*.substvars
**/usr/bin/
**/usr/share/
